@using TDR.ViewModels.Logins;
@using TDRDomain.Bases;
@model CreateLoginViewModel

@{
    ViewData["Title"] = "Create";
}

<head>
    <link href="~/css/BaseError.css" rel="stylesheet" />
</head>

<h1>Criar Conta</h1>

<hr />

@if (ViewData["BaseError"] as BaseError is BaseError baseError)
{
    foreach (var error in baseError.Errors)
    {
        <p class="text-danger-base-error">Field: @error.Field - Error: @error.Description</p>
    }
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input type="email" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input type="password" asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PeriodFk" class="control-label"></label>
                <select asp-for="PeriodFk" class="form-control">
                    <option value="1">Matutino</option>
                    <option value="2">Noturno</option>
                </select>
                <span asp-validation-for="PeriodFk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {

    <script src="~/js/BaseError.js"></script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
