@{
    ViewData["Title"] = "Reactivate";
}

<h1>Reativar Conta</h1>
    
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ReactivateAccount">
            <div class="form-group">
                <label class="control-label">Email</label>
                <input type="email" class="form-control" name="email" />
            </div>
            <div class="form-group">
                <input type="submit" value="Enviar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
