@using TDR.Enums;
@model TDR.ViewModels.Usuario.UpdateUserViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Usuário</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input type="email" value="@Model.Email" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input type="password" asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PeriodFk" class="control-label"></label>
                <select asp-for="PeriodFk" class="form-control">
                    @if (Model.PeriodFk.Equals((long)PeriodType.Morning))
                    {
                        <option value="1">Matutino</option>
                        <option value="2">Noturno</option>
                    }
                    else
                    {
                        <option value="2">Noturno</option>
                        <option value="1">Matutino</option>
                    }
                </select>
                <span asp-validation-for="PeriodFk" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="User" asp-action="Details" asp-route-id="@Model.Id">Voltar</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
